*::first-letter {
  text-transform: uppercase;
}

body {
  border: none;
  padding: 0;
  margin: 0;
}

.layout {
  border: none;
  padding: 0;
  margin: 0;
}

.loading {
  height: 100vh;
  background-color: bisque;
}
