body {
  box-sizing: border-box;
  border: none;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border: none;
  gap: 50px;
  max-width: 1920px;
  width: 100%;
  padding-top: 164px;
  margin: 0;
  background-color: #6e8566;
  min-height: 1500px;
}

.create-lot-text {
  color: #fff2dd;
  font-size: 65px;
  margin: 0;
}

.go-back-button {
  color: #fff2dd;
  font-size: 30px;
  height: 80px;
  width: 300px;
  margin: 30px;
  border-radius: 5px;
  border: none;
  background-color: #6d5640;
}

.go-back-button:hover {
  background-color: #4a3b2d;
  transition: all 0.3s ease;
}

.phono-name {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #554332;
  font-size: 25px;
  display: flex;
  gap: 50px;
}

.photo-container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 400px;
  border-radius: 5px;
  background-color: #fff2dd;
}

.lot-image {
  border: 5px solid #6e8566;
  border-radius: 5px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.button-for-img {
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #6e8566;
}

.button-for-img:hover {
  background-color: #50614b;
  transition: background-color 0.2s ease;
}

.name-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  max-width: 700px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff2dd;
}

.name-description p {
  margin-right: auto;
}

.input-name-des {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  color: #554332;
  background-color: rgb(212, 192, 156);
  border: none;
}

.input-name-des::placeholder {
  color: #554332;
}

.textarea-desctiption {
  width: 650px;
  height: 200px;
}

.block-for-time-etc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px;
  color: #554332;
  font-size: 25px;
  min-height: 500px;
  border-radius: 5px;
  background-color: #fff2dd;
  max-width: 1150px;
  width: 100%;
}

.time-block-create {
  width: 60%;
}

.container-for-button {
  margin-top: auto;
  padding-top: 20px;
  margin-bottom: 35px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
}

.create-a-lot-button {
  border-radius: 5px;
  border: none;
  background-color: #6e8566;
  color: #fff2dd;
  height: 60px;
  width: 300px;
  font-size: 25px;
}

.create-a-lot-button:hover {
  background-color: #50614b;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .page-container {
    padding-top: 120px;
  }
  .create-lot-text {
    font-size: 32px;
  }
  .phono-name {
    font-size: 18px;
    margin: 0;
  }
  .name-description {
    width: 100%;
  }
  .block-for-time-etc {
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 10px;
  }
  .create-a-lot-button {
    font-size: 18px;
    width: 200px;
  }
  .textarea-desctiption {
    width: 100%;
  }
  .container-for-button {
    padding: 0;
  }
}
