.background {
  height: 100vh;
  background-color: #6e8566;
}

.white {
  height: 100vh;
  background-color: #fff2dd;
}

.div-for-raw {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
