* {
  box-sizing: border-box;
}

.app-description {
  display: flex;
  justify-content: space-between;
  height: 754px;
  background-color: #6e8566;
}

.platform-description {
  padding-top: 308px;
  padding-left: 70px;
}

.about-title {
  color: #fff2dd;
  font-size: 65px;
  margin: 0;
}

.about-text {
  color: #fff2dd;
  font-size: 25px;
}

.about-text-brown {
  color: #554332;
  font-size: 25px;
}

.photo1-container {
  padding-top: 270px;
}

.currents-lots {
  margin: none;
  background-color: #6d5640;
  height: 625px;
  width: 100%;
}

.lots-tittle {
  padding: 80px 0 70px 100px;
}

.buttons-lots {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.block-for-lot {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.img-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block-for-lot h3 {
  margin-right: 20%;
}

.organizer-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.block-for-lot h4 {
  margin-top: auto;
}
.block-for-lot p {
  height: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.current-lots-img {
  border: 2px solid #6d5640;
  border-radius: 5px;
  object-fit: cover;
  height: 150px;
  width: 200px;
}

.current-user-pic {
  border: 2px solid #6d5640;
  border-radius: 50px;
  object-fit: cover;
  height: 40px;
  width: 40px;
}

.auctions-block-div {
  background-color: #fffcf8;
  height: 290px;
  box-sizing: border-box;
  padding: 20px;
  width: 406px;
  border-radius: 12px;
  box-shadow: 10px 10px 10px #4f3e2f;
  transition: all 0.3s ease;
}

.auctions-block-div:hover {
  background-color: #fff2dd;
  transform: scale(1.02);
}

.look-add-buttons {
  display: flex;
  gap: 160px;
  align-items: center;
  justify-content: center;
  height: 754px;
  background-color: #6e8566;
}

.block-for-photo-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6d5640;
  padding: 15px;
  box-shadow: 10px 10px 10px rgb(3, 30, 11, 0.5);
  transition: transform 0.3s ease;
}

.block-for-photo-image:hover {
  transform: scale(1.02);
}

.donut-image {
  height: 450px;
}

.about-auctions {
  position: relative;
  box-sizing: border-box;
  padding-left: 90px;
  padding-top: 50px;
  background-color: #6e8566;
  width: 100%;
  height: 850px;
}

.mini-brown-block {
  box-sizing: border-box;
  margin-left: -90px;
  background-color: #6d5640;
  padding: 10px 90px 10px 90px;
}

.buttons-about-sections {
  display: flex;
  gap: 40px;
}

.button-about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 210px;
  height: 60px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.create-lot-button-about {
  background-color: #6d5640;
}

.create-lot-button-about:hover {
  background-color: #4f3e2f;
  transition: all 0.3s ease;
}

.make-bet-button-about {
  background-color: #fff2dd;
}

.make-bet-button-about:hover {
  background-color: rgb(212, 192, 156);
  transition: all 0.3s ease;
}

.two-hands-png {
  position: absolute;
  height: 707px;
  left: 700px;
  z-index: 20;
}

.Faq {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 770px;
  background-color: #6d5640;
}
.about-title {
  margin-bottom: 40px;
}

.questions-png {
  position: absolute;
  height: 700px;
}

.questions-sector {
  width: 1001px;
  margin-left: 512px;
}

.question {
  box-sizing: border-box;
  background-color: #fff2dd;
  border-radius: 5px;
  width: 100%;
  min-height: 90px;
  max-height: 0px;
  cursor: pointer;
  font-size: 38px;
  color: #554332;
  margin-top: 10px;
  padding-left: 10px;
  transition: transform 0.3s ease, margin-bottom 0.3s ease,
    background-color 0.3s ease;
}

.question:hover {
  background-color: rgb(212, 192, 156);
}

.question.open {
  background-color: rgb(212, 192, 156);
  transform: translateY(-10px);
  max-height: 500px;
  margin-top: 20px;
  border-bottom: 10px solid rgb(212, 192, 156);
}

.details-content {
  overflow: hidden;
  max-height: 0px;
  background-color: #6d5640;
  color: #fff2dd;
  font-size: 28px;
  min-height: 200px;
  padding: 10px 20px 0 20px;
  border-radius: 5px 0 0 0;
}
