* {
  box-sizing: border-box;
}

.app-description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  background-color: #6e8566;
  padding-top: 308px;
}

.platform-description {
  padding-left: 70px;
  max-width: 850px;
}

.about-title {
  color: #fff2dd;
  font-size: 65px;
  margin: 0;
}

.about-text {
  color: #fff2dd;
  overflow-wrap: break-word;
  word-break: normal;
  white-space: normal;
  font-size: 25px;
}

.about-text-brown {
  color: #554332;
  font-size: 25px;
}

.photo1-container {
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.currents-lots {
  margin: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  background-color: #6d5640;
  max-width: 1521px;
  width: 100%;
}

.lots-tittle {
  display: flex;
  padding: 80px 0 70px 100px;
  flex-wrap: wrap;
  text-align: center;
}

.buttons-lots {
  display: flex;
  width: 100%;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.block-for-lot {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.img-div {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tittle-for-current-block {
  font-size: 24px;
  width: 50%;
  height: 100%;
}

.description-current-lot {
  max-height: 250px;
  height: 100%;
}

.organizer-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.block-for-lot h4 {
  margin-top: auto;
}
.description-current-lot p {
  height: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.current-lots-img {
  border: 2px solid #6d5640;
  border-radius: 5px;
  object-fit: cover;
  max-height: 150px;
  max-width: 200px;
}

.current-user-pic {
  border: 2px solid #6d5640;
  border-radius: 50px;
  object-fit: cover;
  height: 40px;
  width: 40px;
}

.auctions-block-div {
  background-color: #fffcf8;
  min-height: 290px;
  box-sizing: border-box;
  padding: 10px;
  max-width: 406px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 10px 10px 10px #4f3e2f;
  transition: all 0.3s ease;
  overflow-wrap: break-word;
  word-break: normal;
  white-space: normal;
}

.look-for-all {
  background-color: #fffcf8;
  height: 290px;
  box-sizing: border-box;
  width: 400px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 10px 10px 10px #4f3e2f;
}

.auctions-block-div:hover {
  background-color: #fff2dd;
  transform: scale(1.02);
}

.look-add-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 160px;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: #6e8566;
  padding: 50px;
}

.block-for-photo-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6d5640;
  max-width: 470px;
  padding: 20px;
  box-shadow: 10px 10px 10px rgb(3, 30, 11, 0.5);
  transition: transform 0.3s ease;
}

.block-for-photo-image:hover {
  transform: scale(1.02);
}

.donut-image {
  max-height: 450px;
}

.about-auctions {
  position: relative;
  box-sizing: border-box;
  padding: 50px 0 90px 90px;
  background-color: #6e8566;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.mini-brown-block {
  box-sizing: border-box;
  margin-left: -90px;
  background-color: #6d5640;
  padding: 10px 10px 10px 90px;
}

.buttons-about-sections {
  display: flex;
  gap: 40px;
}

.button-about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 210px;
  height: 60px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.create-lot-button-about {
  background-color: #6d5640;
}

.create-lot-button-about:hover {
  background-color: #4f3e2f;
  transition: all 0.3s ease;
}

.make-bet-button-about {
  background-color: #fff2dd;
}

.make-bet-button-about:hover {
  background-color: rgb(212, 192, 156);
  transition: all 0.3s ease;
}

.two-hands-png {
  position: absolute;
  height: auto;

  left: 700px;
  z-index: 20;
}

.Faq {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 770px;
  height: auto;
  background-color: #6d5640;
}
.about-title {
  margin-bottom: 40px;
}

.questions-png {
  position: absolute;
  max-height: 700px;
  height: auto;
  width: 30%;
}

.questions-sector {
  max-width: 1500px;
  width: 70%;
  margin-left: auto;
}

.question {
  box-sizing: border-box;
  background-color: #fff2dd;
  border-radius: 5px;
  min-height: 150px;
  max-height: 0px;
  width: 100%;
  cursor: pointer;
  font-size: 38px;
  color: #554332;
  margin-top: 10px;
  padding-left: 10px;
  transition: transform 0.3s ease, margin-bottom 0.3s ease,
    background-color 0.3s ease;
}

.question:hover {
  background-color: rgb(212, 192, 156);
}

.question.open {
  background-color: rgb(212, 192, 156);
  transform: translateY(-10px);
  max-height: 500px;
  margin-top: 20px;
  border-bottom: 10px solid rgb(212, 192, 156);
}

.details-content {
  overflow: hidden;
  max-height: 0px;
  background-color: #6d5640;
  color: #fff2dd;
  font-size: 28px;
  min-height: 0;
  padding: 0 20px;
  border-radius: 5px 0 0 0;
  transition: max-height 0.5s ease, padding 0.3s ease;
}

.details-content.visible {
  max-height: 500px;
  padding: 10px 20px;
}

@media (max-width: 778px) {
  .app-description {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding-top: 200px;
  }

  .platform-description {
    padding-left: 0px;
    max-width: 100%;
  }

  .about-title {
    word-wrap: break-word;
    white-space: normal;
    font-size: 36px;
  }

  .about-text {
    word-wrap: break-word;
    white-space: normal;
    font-size: 18px;
  }

  .photo1-container {
    display: none;
  }

  .auctions-block-div {
    min-height: 250px;
    width: 93%;
  }

  .look-for-all {
    height: 250px;
    width: 338px;
  }

  .lots-tittle {
    padding-left: 0px;
  }

  .look-add-buttons {
    flex-direction: column;
    gap: 30px;
  }

  .block-for-photo-image {
    width: 98%;
    height: auto;
    padding: 10px;
  }

  .donut-image {
    max-height: 250px;
  }

  .about-auctions {
    padding: 50px 0 50px 20px;
  }

  .two-hands-png {
    display: none;
  }

  .about-text-brown {
    word-wrap: break-word;
    white-space: normal;
    font-size: 18px;
  }

  .button-about {
    width: 150px;
  }

  .questions-png {
    display: none;
  }

  .questions-sector {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%;
  }

  .question {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    width: 100%;
  }

  .details-content {
    padding: 10px;
    font-size: 18px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .details-content.visible {
    width: 98%;
  }
}
