.all-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #6e8566;
  width: 100%;
}

.donut-on {
  position: relative;
  display: flex;
  margin-right: 60px;
  margin-bottom: 15px;
  color: #fff2dd;
  font-size: 64px;
}

.block-for-registation {
  background-color: #6d5640;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  min-height: 500px;
  width: 100%;
  margin-bottom: 5px;
}

.block-for-registation div {
  display: flex;
  flex-direction: column;
}

.block-for-sign-up {
  background-color: #6d5640;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 500px;
  width: 100%;
  margin-bottom: 5px;
}

label {
  color: #fff2dd;
  font-size: 25px;
  margin: 0;
}

.input {
  color: #554332;
  font-size: 20px;
  background-color: #fff2dd;
  margin: 15px 0 0px 0;
  width: 100%;
  max-width: 400px;
  height: 40px;
  border-radius: 5px;
}

.input.valid {
  border: 5px solid rgb(28, 134, 28);
}

input.invalid {
  border: 5px solid rgba(164, 65, 47, 0.93);
}

.fake-pass {
  height: 0;
  width: 0;
  display: none;
}

.sign-up-button {
  font-size: 25px;
  width: 300px;
  height: 60px;
  color: #554332;
  background-color: #a3bc89;
  border-radius: 5px;
  border: 0;
}

.sign-up-button:hover {
  background-color: #80936c;
  transition: background-color 0.3s ease;
}

.sign-up-button:active {
  outline: 2px solid #80936c;
}

.log-in-margin {
  margin-top: 40px;
}

.validation-message {
  color: #e7b499;
}

.Log-sign-in {
  text-decoration: underline #fff2dd;
  padding-top: 10px;
  color: #fff2dd;
  font-size: 15px;
  margin: 0;
}

.Log-sign-in:hover {
  text-decoration: underline rgb(212, 192, 156);
  color: rgb(212, 192, 156);
  transition: all 0.3s ease;
}

.bottom-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 20px 0px;
}

@media (max-width: 768px) {
  .block-for-registation {
    flex-direction: column;
    min-height: 750px;
    gap: 30px;
  }
  .block-for-sign-up {
    padding: 20px;
  }
  .donut-on {
    font-size: 45px;
    margin: 10px 0;
    text-align: center;
  }
  .sign-up-button {
    width: 100%;
    max-width: 300px;
    font-size: 18px;
  }
  .Log-sign-in {
    font-size: 36px;
  }
}
